    <div class="border 
                rounded" 
         style="margin-top: 30px;">
        <div style="width: 80px;
                    text-align: center;
                    margin-top: 20px;">
            <div class="border 
                        rounded-circle" 
                 style="width: 50px;
                        height: 50px;
                        background: url(<%= asset_path 'sample.jpg' %>) center / cover no-repeat;
                        margin: auto;">
            </div>
            <p style="font-size: 12px;
                      padding-top: 5px;">
                Tables
            </p>
        </div>
    </div>

    <div class="sub_container">
    <% @pictures.each do |picture| %>
        <%= link_to picture_path(picture) do %>
        <div class="box">
          <% if picture.photo.attached? %>
            <%= cl_image_tag picture.photo.key %>
            <% else %>
            <p>no picture</p>
          <% end %>
            <h4><%= picture.title %></h4>
            <p><%= picture.desc %> </p>
        </div>
      <% end %>
    <% end %>
    
</div>