<h2>Products index</h2>

    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Image</th>
                <th>Id</th>
                <th>Title</th>
                <th>Desc</th>
                <th>Actions</th>
            </tr>
        </thead>
    <div>
        <div class="table-responsive">
        <tbody>
            <% @products.each do |product| %>
                <tr>
                    <td> <% if product.photo.attached? %>
                            <%= cl_image_tag product.photo.key, width: 100 %>
                         <% else %>
                            <p>no picture</p>
                         <% end %>
                    </td>
                    <td> <%= product.id %></td>
                    <td> <%= product.title %></td>
                    <td> <%= product.desc %></td>
                    <td> <%= link_to "Edit", edit_product_path(product) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
    </div>
   